<launch>
  <arg name="gazebo" default="false"/>

  <param if="$(arg gazebo)" name="robot_description" command="$(find xacro)/xacro.py '$(find abb_irb120_support)/urdf/irb120t_gazebo.xacro'" />
  <param unless="$(arg gazebo)" name="robot_description" command="$(find xacro)/xacro.py '$(find abb_irb120_support)/urdf/irb120t.xacro'" />

</launch>